In [2]:
import sqlite3
from sqlite3 import Error

In [14]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT name, SUM(
        CASE WHEN memid =0
        THEN guestcost * slots
        ELSE membercost * slots
        END ) AS total_revenue
        FROM Facilities
        INNER JOIN Bookings ON Facilities.facid = Bookings.facid
        GROUP BY name
        HAVING total_revenue <1000
        ORDER BY total_revenue
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("SQL Tasks Part 2: Q10")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
SQL Tasks Part 2: Q10
('Table Tennis', 180)
('Snooker Table', 240)
('Pool Table', 270)

In [16]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query2 = """
        SELECT CONCAT( M1.firstname, ' ', M1.surname, ' ', 'recommended by', ' ', M2.firstname, ' ', M2.surname )
        AS members_recommended
        FROM Members AS M1
        LEFT JOIN Members AS M2 ON M1.recommendedby = M2.memid
        WHERE M2.memid != 0
        ORDER BY M1.surname, M1.firstname
        """
    cur.execute(query2)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("SQL Tasks Part 2: Q11")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
SQL Tasks Part 2: Q11

OperationalError: no such function: CONCAT